.accordion {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: none;

  &.is-active {
    display: block;
  }
}

.accordion__item {
  padding: 24px 0;
  border-top: 1px solid $color-border-grey;

  h3 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    outline: 0;
    list-style: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: $color-sapphire;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    @media (max-width: 320px) {
      font-size: 18px;
    }
  }

  span {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;

    margin-left: auto;
    padding: 22px;

    outline: 1px solid;
    border-radius: 44px;

    transition: background-color $trans-default;

    &::after,
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      background: currentColor;
    }

    &::before {
      transform: translate(-50%, 50%);
      width: 20px;
      height: 1px;
    }

    &::after {
      transform: translate(50%, -50%);
      width: 1px;
      height: 20px;
    }

    @include hover-focus {
      background-color: $color-resolution-blue;

      &::before,
      &::after {
        background-color: $color-default-white;
      }
    }

    @media (max-width: 320px) {
      width: 32px;
      height: 32px;
      padding: 16px;

      &::before {
        width: 15px;
        height: 1px;
      }

      &::after {
        width: 1px;
        height: 15px;
      }
    }
  }

  p {
    margin: 0;
    color: $color-sapphire;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;

    opacity: 0;
    max-width: 670px;
    max-height: 0;
    overflow: hidden;

    transition: opacity $trans-default;

    @media (max-width: 320px) {
      font-size: 16px;
    }
  }

  &:last-child {
    border-bottom: 1px solid $color-border-grey;
  }

  @media (max-width: 320px) {
    padding: 19px 0;
  }
}

.accordion__item.is-open {
  padding: 23px 0;

  h3 {
    span {
      background: $color-resolution-blue;

      &::after {
        width: 0;
      }

      &::before {
        background: $color-default-white;
      }
    }

    + p {
      margin-top: 9px;
      opacity: 1;
      max-height: max-content;
    }
  }
}
