.advantages {
  padding-top: 107px;
  padding-bottom: 120px;

  background-color: $color-ghost-white;

  @include vp-1199 {
    padding-top: 86px;
    padding-bottom: 90px;
  }

  @include vp-767 {
    padding-top: 62px;
    padding-bottom: 60px;
  }
}

.advantages__wrapper {
  padding: 0 60px;

  h2 {
    @include title-h2;

    margin-bottom: 52px;

    text-align: center;

    @include vp-1199 {
      margin-bottom: 39px;
    }

    @include vp-767 {
      margin-bottom: 42px;
    }
  }

  @include vp-1199 {
    padding: 0;
  }
}

.advantages__list {
  padding-left: 18px;

  ul {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 150px 51px;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 240px 1fr;

    list-style-type: none;

    @include vp-1199 {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      column-gap: 52px;
      row-gap: 38px;
      padding: 0;
      margin: 0;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      row-gap: 28px;
    }
  }

  li:first-child {
    order: -2;
  }

  @include vp-1199 {
    padding: 0;
  }
}

.advantages__main-item {
  position: relative;
  margin-right: 12px;

  grid-column: 2 / 3;
  grid-row: span 2;
  order: -1;

  color: $color-default-white;

  background-color: $color-sapphire;


  @include vp-1199 {
    grid-column: 1/-1;
    grid-row: unset;
    order: unset;
    width: 442px;
    justify-self: center;
  }

  @include vp-767 {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 11px;
  }
}

.advantages__item {
  h3,
  p {
    margin: 0;
  }

  &--text {
    position: relative;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 14px auto;
    column-gap: 30px;

    p {
      grid-column: 2 / 3;
      grid-row: 3 / 4;

      line-height: 150%;
      font-weight: 300;

      @include vp-1199 {
        font-size: 16px;
      }
    }

    h3 {
      font-size: 22px;

      transform: translateY(4px);

      @include vp-1199 {
        font-size: 20px;

        transform: translateY(10px);
      }
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;

      h3 {
        margin-top: 6px;

        font-size: 20px;
        line-height: 150%;

        transform: none;
      }

      p {
        width: 71%;
      }
    }

    @media (max-width: 320px) {
      h3 {
        margin-top: 0;
      }
    }
  }

  &--center {
    padding: 73px 26px 61px;

    text-align: center;

    h3 {
      font-size: 26px;
      line-height: 150%;

      @include vp-1199 {
        font-size: 22px;
      }
    }

    h3 > span {
      font-size: 74px;
    }

    p {
      line-height: 150%;
    }

    @include vp-1199 {
      padding: 51px 130px 36px;
    }

    @include vp-767 {
      padding: 57px 69px 43px;
    }
  }

  &--line {
    position: relative;

    &::after {
      position: absolute;
      bottom: -76px;

      width: 100%;
      height: 2px;

      background-color: rgba(209, 10, 66, 0.2);

      content: "";

      @include vp-1199 {
        display: none;
      }
    }
  }
}

.advantages__item-info {
  grid-row: 1/-1;
  align-self: center;
  display: flex;
  flex-direction: column;

  span:first-child {
    font-size: 71px;
    line-height: 60px;
    font-weight: 700;

    @include gradient-text;

    @include vp-1199 {
      font-size: 58px;
    }
  }

  span:not(:first-child) {
    color: $color-egyptian-blue;
    font-size: 14px;
    font-weight: 400;
  }

  @include vp-767 {
    align-items: center;
  }
}

.advantages__title--center {
  margin-bottom: 33px;

  h3 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    font-size: 26px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 22px;
    }

    @include vp-767 {
      row-gap: 15px;
    }
  }

  span {
    font-size: 74px;
  }

  @include vp-1199 {
    margin-bottom: 15px;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }
}
