.btn {
  display: inline-flex;
  justify-content: center;
  padding: 24px 42px;

  color: $color-default-white;
  word-break: break-word;

  background-color: transparent;
  border: none;
  outline-offset: 3px;
  cursor: pointer;

  transition: opacity $trans-default;

  user-select: none;

  @include hover-focus {
    opacity: 0.8;
  }

  @include focus {
    outline: 2px solid;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &--slider {
    padding: 0;

    color: $color-dark-grey;

    @include hover-focus {
      outline-color: $color-sapphire;
      outline-offset: 2px;
    }
  }
}
