.btn {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 24px 42px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-family: $ff-roboto;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.6px;

  background-color: transparent;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    background-color: none;
    opacity: 0.5;

    pointer-events: none;
  }

  &--slider {
    padding: 0;

    color: $color-dark-grey;

    @include hover-focus {
      outline-color: $color-sapphire;
      outline-offset: 2px;
    }
  }

  &--empty {
    padding: 21px 55px 18px;

    color: $color-default-white;

    outline: 4px solid $color-default-white;

    @include hover-focus {
      color: $color-egyptian-blue;

      background-color: $color-default-white;
    }

    @include focus {
      color: $color-sapphire;
    }

    @include active {
      color: $color-sapphire;

      background-color: $color-default-white;
    }
  }

  &--background {
    width: 206px;

    color: $color-sapphire;

    outline: 2px solid $color-sapphire;

    @include hover-focus {
      color: $color-default-white;

      background: $color-button-gradient;
      border: none;
      outline: none;
    }

    @include focus {
      opacity: 0.7;
    }

    &:disabled {
      background-color: $color-default-white;
      opacity: 0.3;
    }
  }
}
