.coach {
  padding-top: 103px;
  padding-bottom: 105px;


  @include vp-1199 {
    min-height: 423px;
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 44px;
    padding-bottom: 71px;
  }

  @media (max-width: 320px) {
    padding-top: 61px;
  }

  h2 {
    margin-bottom: 46px;

    letter-spacing: 0.03em;

    grid-column: 1/-1;

    @include title-h2;

    @include vp-1199 {
      margin-right: 5px;
      margin-bottom: 32px;

      font-size: 42px;
      line-height: 50px;
      text-align: center;
    }

    @include vp-767 {
      margin-bottom: 40px;

      font-size: 32px;
      line-height: 38px;
    }
  }
}

.coach__wrapper {
  position: relative;
}

.coach__title {
  h2 {
    @include title-h2;
    margin-bottom: 48px;

    @include vp-1199 {
      margin: 0 0 31px;

      text-align: center;
    }

    @include vp-767 {
      margin: 0 0 42px;
    }
  }
}

.coach__inner {
  position: relative;

  max-width: 260px;

  cursor: pointer;

  @include vp-1199 {
    max-width: 268px;
  }

  @include vp-767 {
    width: fit-content;
    max-width: 226px;
  }

  @media (max-width: 500px) {
    margin: 0 auto;
  }

  img {
    min-height: 294px;
    background-color: $color-grey;

    object-fit: cover;

    @include vp-1199 {
      min-height: 294px;
    }

    @include vp-767 {
      min-height: 274px;
      max-height: 100vw;
    }
  }
}

.coach__description {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding: 51px 45px 23px;

  background-color: none;

  @include vp-1199 {
    padding-right: 41px;
    padding-left: 41px;
  }

  @include vp-767 {
    padding: 41px 20px 48px;
  }

  h3 {
    margin: auto auto 0;

    font-size: 18px;
    text-align: center;
    color: $color-default-white;

    @include vp-1199 {
      padding-left: 6px;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $color-sapphire;
    opacity: 0.89;

    .coach__info {
      height: 100%;

      transform: scale(1);

      transition: $trans-default;
    }

    h3 {
      margin: 4px 0 -4px;

      @include vp-1199 {
        margin-top: 3px;
        padding-right: 14px;
      }

      @include vp-767 {
        margin-top: 2px;
        margin-bottom: -5px;
        padding: 0;
      }
    }
  }
}

.coach__info {
  height: 0;
  max-height: 210px;

  transform: scale(0);

  p {
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
    color: $color-spindle;

    @include vp-1199 {
      margin-left: -5px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    margin: 0;
    padding-left: 24px;

    list-style: none;
    color: $color-default-white;

    @include vp-1199 {
      padding-left: 30px;
    }

    li {
      position: relative;

      font-size: 14px;

      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: -15px;

        width: 6px;
        height: 6px;

        background-color: $color-default-white;
        border-radius: 50%;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.coach__slider {
  margin: 0;

  @include vp-767 {
    margin: auto;
  }

  & > ul {
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;
  }

  & > li {
    width: 237.75px;
    margin-right: 15px;
  }
}

.coach__button {
  border: none;
  z-index: 10;
  top: 57%;

  @include vp-767 {
    top: 60%;
  }

  &--next {
    right: -78px;

    @include vp-767 {
      right: -37px;
    }
  }

  &--prev {
    left: -78px;

    @include vp-767 {
      left: -37px;
    }
  }
}
