.event {
  min-height: 500px;

  @include vp-1199 {
    min-height: 292px;
  }

  @include vp-767 {
    min-height: 584px;
  }
}

.event__wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 107px;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    flex-direction: column;
    max-width: 500px;
    margin-bottom: 66px;
  }

  img {
    width: auto;
    height: 100%;

    @include vp-767 {
      flex-basis: 100%;
      width: 100%;
      max-width: 500px;
    }
  }
}

.event__current {
  display: grid;

  grid-template-columns: auto 1fr auto;
  grid-template-rows: min-content 1fr min-content;

  max-width: 660px;
  min-width: 450px;
  min-height: 500px;

  padding: 85px 77px;

  font-weight: 400;
  line-height: 1.5;

  color: $color-default-white;

  background-color: $color-red;

  @include vp-1199 {
    width: 292px;
    min-width: auto;
    min-height: 292px;
    padding: 51px 45px;
    column-gap: 29px;
  }

  @include vp-767 {
    width: 100%;
    padding: 50px 44px;
  }

  h2 {
    margin: 0;

    font-weight: 600;
    font-size: 82px;
    line-height: 96%;
    font-family: $ff-alumni;
    text-transform: uppercase;
    letter-spacing: 2.46px;

    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @include vp-1199 {
      padding-left: 7px;

      font-size: 48px;
      line-height: 96%;
      letter-spacing: 1.44px;
    }

    @include vp-767 {
      padding-left: 8px;
    }
  }

  p {
    margin: 0;
    margin-top: 10px;

    font-size: 18px;

    grid-column: 1 / span 3;
    grid-row: 2;

    @include vp-1199 {
      margin-top: 10px;
      margin-bottom: 20px;

      font-size: 12px;
    }

    @include vp-767 {
      margin-left: 3px;
    }
  }
}

.event__day {
  grid-column: 2 / 4;

  width: 92px;
  margin-top: -6px;
  margin-left: auto;

  @include vp-1199 {
    max-width: 63px;
  }

  p {
    position: relative;

    grid-row: 2 / 3;
    grid-column: 1/-1;

    max-width: 92px;
    margin: 0;
    margin-bottom: 5px;

    text-align: start;

    @include vp-1199 {
      margin: 0;

      font-size: 12px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 94%;
      height: 1px;

      background-color: $color-default-white;

      @include vp-1199 {
        bottom: 2px;

        width: 89%;
      }
    }
  }

  time {
    display: flex;
    align-items: center;
    margin-bottom: 9px;

    font-weight: 700;
    font-size: 40px;
    line-height: initial;

    gap: 3px;

    @include vp-1199 {
      margin-bottom: 0;

      font-size: 24px;
    }
  }

  span {
    display: inline-block;
    width: 50px;

    font-weight: 400;
    font-size: 14px;
    line-height: initial;

    @include vp-1199 {
      font-size: 10px;
    }
  }
}

.event__date {
  p::after {
    width: 62px;

    @include vp-1199 {
      width: 41px;
    }
  }
}

.event__buy {
  grid-column: 1 / span 3;
  grid-row: 3;

  @include vp-1199 {
    width: 97%;
    padding: 12px 0;

    font-size: 10px;
    line-height: 12px;

    outline: 2px solid $color-default-white;
  }
}

.event__promo {
  margin: 0;
  z-index: 1;
  background-color: $color-resolution-blue;

  @include vp-1199 {
    max-width: 386px;
  }

  @include vp-767 {
    max-width: 100%;
    min-height: auto;

    img {
      min-height: 292px;
    }
  }
}
