.event {
  padding: 120px 0 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h2 {
    font-family: $ff-alumni;
    font-size: 72px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 6.5px;
    text-transform: uppercase;

    color: $color-default-white;
    margin: 0;
    padding-left: 12px;
    text-align: center;

    grid-row: 1 / 3;

    @include vp-1199 {
      font-size: 48px;
      line-height: 95%;
      letter-spacing: 1.3px;
      padding-left: 6px;
    }
  }

  dl {
    margin: 0;
    grid-column: 2 / 3;
    height: max-content;
  }


  picture {
    background-color: #000145;
  }

  img {
    height: 100%;
    object-fit: fill;
  }

  p {
    margin: 0 0 26px;
    grid-column: 1 / 3;

    font-size: 18px;
    line-height: 18px;

    @include vp-1199 {
      margin-bottom: 24px;
      padding-top: 2px;
      font-size: 12px;
    }

    @include vp-767 {
      margin-bottom: 30px;
      padding-top: 6px;
    }
  }

  @include vp-1199 {
    padding: 100px 36px;
    padding-bottom: 0;
  }

  @include vp-767 {
    padding: 70px 0 60px;
  }
}

.event__info {
  padding: 84px 78px;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(4, auto);
  width: 500px;
  gap: 17px 62px;
  color: $color-default-white;
  background-color: $color-red;

  @include vp-1199 {
    padding: 51px 45px;
    width: 292px;
    gap: 3px 35px;
  }

  @include vp-767 {
    padding-bottom: 52px;
    width: 290px;
  }
}

.event__date {
  dt {
    position: relative;
    margin: 0 0 12px;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -9px;
      width: 64px;
      height: 1px;
      background-color: $color-default-white;
    }

    font-size: 18px;
    line-height: 18px;

    @include vp-1199 {
      margin-top: -4px;
      margin-bottom: 5px;
      font-size: 12px;

      &::after {
        width: 42px;
        bottom: -2px;
      }
    }
  }

  dd {
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 6px;

    font-size: 40px;
    line-height: 40px;
    font-weight: 700;

    @include vp-1199 {
      font-size: 24px;
      line-height: 24px;
    }

    @include vp-1199 {
      align-items: flex-start;
      column-gap: 4px;
    }
  }

  span {
    font-size: 14px;

    font-family: inherit;
    font-weight: 400;
    line-height: 18px;
    width: min-content;

    @include vp-1199 {
      margin: 0;
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.event__time {
  dt {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -9px;
      width: 88px;
      height: 1px;
      background-color: $color-default-white;
    }

    font-size: 18px;
    line-height: 18px;

    @include vp-1199 {
      margin-bottom: 0;
      padding-top: 0;
      font-size: 12px;

      &::after {
        width: 56px;
        bottom: -3px;
      }
    }
  }

  dd {
    margin: 14px 0 0;

    font-size: 40px;
    line-height: 40px;
    font-weight: 700;

    @include vp-1199 {
      font-size: 24px;
      line-height: 24px;
    }

    @include vp-1199 {
      margin-top: -5px;
      padding-top: 10px;
    }
  }
}

.event__buy {
  padding: 25px 20px;
  grid-column: 1 / 3;
  line-height: 12px;
  letter-spacing: 0.05em;

  @include vp-1199 {
    padding: 12px 20px;
    font-size: 10px;
  }
}
