.footer {
  display: flex;
  align-items: center;
  min-height: 108px;

  background-color: $color-black-russian;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  padding-top: 44px;
  padding-bottom: 32px;

  gap: 100px;

  @include vp-1199 {
    max-width: 100%;

    gap: 50px;
  }

  @include vp-767 {
    position: relative;

    flex-wrap: wrap;
    justify-content: start;

    gap: 0;
  }
}

.footer__navigation {
  display: flex;

  @include vp-767 {
    width: 100%;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 5px;
    padding: 0;

    list-style: none;

    gap: 10px 40px;

    @include vp-1199 {
      margin: 0 0 0 5px;

      gap: 10px 30px;
    }

    @include vp-767 {
      display: block;
      margin: 0;

      column-count: 2;
    }

    li {
      @include vp-767 {
        margin-top: 16px;

        &:first-of-type {
          margin-top: 41px;
        }
      }
    }

    a {
      font-size: 14px;
      line-height: 16px;
      color: $color-default-white;

      @include vp-767 {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  min-height: 40px;

  ul {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    min-width: 100px;
    max-width: 100px;
    margin: 0;
    padding: 0;

    list-style-type: none;
    line-height: 0;

    gap: 11px;

    @include vp-767 {
      flex-wrap: nowrap;
      margin-top: 26px;
    }

    @include vp-319 {
      flex-wrap: wrap;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;

    background-color: $color-default-white;
    border-radius: 50%;

    @include hover-focus {
      background-color: $color-egyptian-blue;

      svg {
        fill: $color-default-white;
      }
    }

    @include active {
      background-color: $color-sapphire;

      svg {
        fill: $color-default-white;
      }
    }

    &:disabled {
      background-color: $color-default-white;
      opacity: 0.3;

      svg {
        fill: $color-default-black;
      }
    }
  }
}
