.form {
  padding-top: 56px;
  padding-right: 67px;
  padding-bottom: 66px;
  min-height: 337px;
  background-color: $color-sapphire;
  color: $color-default-white;

  @include vp-1199 {
    min-height: 324px;
    padding: 62px 162px 45px 133px;
  }

  @include vp-767 {
    padding: 64px 15px 67px;
    min-height: 386px;
  }

  h2 {
    @include title-h2;

    margin-bottom: 26px;
    color: $color-default-white;
    font-weight: 800;
    letter-spacing: 0.03em;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 28px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.02em;
      margin-bottom: 32px;
    }
  }
}

.form__content {
  margin-left: auto;
  max-width: 410px;

  @include vp-1199 {
    max-width: 100%;
    margin: 0;
  }
}

.form__fields {
  display: flex;
  gap: 0 28px;
  margin-bottom: 25px;

  @include vp-1199 {
    gap: 0 60px;
    margin-bottom: 27px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    gap: 29px 0;
    margin-bottom: 38px;
  }

  label {
    width: 100%;

    &.is-invalid {
      position: relative;

      input {
        border-bottom-color: $color-red;
      }

      &::after {
        position: absolute;
        top: 100%;
        left: 0;

        min-width: 80px;
        min-height: 20px;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        color: $color-red;

        content: "Проверьте введенные данные";
      }
    }
  }

  input {
    width: 100%;
    background-color: $color-transparent;
    border: none;
    padding: 8px 0;
    color: inherit;
    font-size: 14px;
    line-height: 16px;
    outline-color: $color-default-white;
    border-bottom: 1px solid $color-slate-grey;
    outline-offset: 3px;

    transition: border $trans-default;

    &::placeholder {
      font-family: $ff-roboto;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      color: $color-default-white;
    }

    @include hover {
      border-bottom-color: $color-default-white;
    }

    &:active,
    &:focus {
      padding-left: 15px;
      border-bottom: none;
      outline: 1px solid $color-default-white;

      &::placeholder {
        visibility: hidden;
      }
    }

    &:disabled {
      opacity: 0.3;
    }

    @include vp-767 {
      padding: 7px 0;
    }
  }
}

.form__button {
  padding: 17px;
  letter-spacing: 0.05em;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  outline: 3px solid $color-default-white;
  text-transform: uppercase;
}
