.gym {
  padding-top: 120px;
  padding-bottom: 8px;
  min-height: 636px;

  @include vp-1199 {
    padding-top: 101px;
    padding-bottom: 15px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 69px;
  }
}

.gym__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  gap: 80px;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 41px;
  }

  @include vp-767 {
    margin: 0;
    gap: 35px;
  }
}

.gym__about {
  max-width: 360px;
  margin-top: 40px;
  padding-bottom: 50px;

  @include vp-1199 {
    align-self: center;
    max-width: 502px;
    margin-top: 0;
    padding: 0;

    text-align: center;
  }

  @include vp-767 {
    text-align: start;
    padding: 0 15px;
    max-width: fit-content;
  }

  h2 {
    @include title-h2;

    margin-bottom: 8px;

    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      margin-bottom: 0;

      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin-bottom: 5px;

      font-size: 32px;
      line-height: 38px;
    }
  }

  p {
    margin: 0;

    font-size: 18px;

    @include vp-767 {
      padding: 0;
    }
  }
}

.gym__text {
  margin-top: 38px;

  @include vp-1199 {
    min-width: 505px;

    p:not(:first-child) {
      display: none;
    }
  }

  @include vp-767 {
    min-width: auto;
    margin-top: 25px;
    padding-right: 30px;
  }

  p {
    font-weight: 300;
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 10px;

      @include vp-1199 {
        margin: 0;
      }
    }
  }
}

.gym__picture {
  @include vp-767 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  picture {
    @include vp-767 {
      width: inherit;
    }
  }

  img {
    background-color: $color-ghost-white;
    object-fit: cover;

    @include vp-767 {
      width: 100%;
    }
  }
}
