.header-intro {
  min-height: 657px;
  margin-bottom: 120px;

  background: $color-main-gradient;

  @include vp-1199 {
    min-height: 554px;
    margin-bottom: 100px;

    background: $color-main-gradient-tablet;
  }

  @include vp-767 {
    min-height: 491px;
    margin-bottom: 64px;

    background: $color-main-gradient-mobile;
  }
}
