.header-intro {
  min-height: 657px;
  background: $color-main-gradient;
  margin-bottom: 120px;

  @include vp-1200 {
    min-height: 554px;
    background: $color-main-gradient-tablet;
    margin-bottom: 100px;
  }

  @include vp-768 {
    min-height: 491px;
    background: $color-main-gradient-mobile;
    margin-bottom: 64px;
  }
}
