.header {
  @include vp-1200 {
    margin-bottom: 25px;
  }

  @include vp-768 {
    margin-bottom: 23px;
  }

  &__wrapper {
    display: flex;
    gap: 10px 30px;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;

    @include vp-1200 {
      padding-top: 37px;
    }

    @include vp-768 {
      padding-top: 15px;
    }
  }

  &__logo {
    margin-right: 30px;
  }

  &__user {
    align-self: flex-start;
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: $ff-alumni;

    &-link {
      color: $color-default-white;
      font-weight: 600;
      font-size: 26px;
      line-height: 31px;
      letter-spacing: 0.7px;

      @include hover-focus {
        opacity: 0.8;
      }

      @include vp-1200 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
      }

      @include vp-768 {
        letter-spacing: 0.4px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
