.intro {
  &__wrapper {
    display: grid;
    padding: 0 122px 50px;
    grid-template-columns: 377px 1fr;
    justify-content: center;
    column-gap: 64px;

    @include vp-1199 {
      column-gap: 30px;
      padding-bottom: 50px;
      grid-template-columns: 1fr 1fr;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      padding: 0 15px;
    }

    img {
      margin-top: -29px;
      object-fit: cover;

      @include vp-1199 {
        margin-top: -9px;
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  &__info {
    display: grid;
    justify-items: flex-end;
    grid-template-rows: repeat(3, min-content);
    color: $color-default-white;
    font-family: $ff-alumni;
    margin-top: 80px;

    @include vp-1199 {
      margin-top: 40px;
    }
  }

  &__city {
    margin: 0;
    margin-right: 55px;
    margin-bottom: 17px;
    font-size: 48px;
    line-height: 57px;
    font-weight: 600;

    @include vp-1199 {
      font-size: 34px;
      line-height: 41px;
      margin-right: 7px;
      margin-bottom: 10px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 33px;
      margin-right: 5px;
      margin-bottom: 15px;
    }
  }

  &__info-inner {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0 16px;

    @include vp-1199 {
      gap: 0 24px;
    }

    @include vp-767 {
      position: relative;
    }
  }

  &__list {
    margin-top: 38px;

    @include ul-reset;

    @include vp-1199 {
      margin-top: 32px;
    }

    @include vp-767 {
      position: absolute;
      left: 0;
      top: 44px;
    }
  }

  &__list-item {
    font-weight: 400;
    font-family: $ff-roboto;
    font-size: 14px;
    text-align: end;
    overflow-wrap: break-word;
  }

  &__title {
    font-family: $ff-alumni;
    flex-grow: 1;
    margin: 0;
    margin-bottom: 48px;
    margin-right: 1px;
    letter-spacing: 4.6px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 92px;
    line-height: 110px;
    width: 233px;

    @include vp-1199 {
      margin-bottom: 34px;
      font-size: 72px;
      line-height: 86px;
      text-transform: initial;
    }

    @include vp-767 {
      margin-bottom: 22px;
      width: 200px;
      margin-left: auto;
    }
  }

  &__buy {
    margin-bottom: 10px;

    @include vp-1199 {
      width: 185px;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &__hero {
    img {
      object-fit: cover;

      @include vp-1199 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 390px;
      }
    }

    @include vp-767 {
      display: none;
    }
  }
}
