.intro {
  min-height: 658px;

  background: $color-main-screen;

  @include vp-767 {
    min-height: 554px;
  };
  @include vp-319 {
    min-height: 491px
  };
  &__wrapper {
    display: grid;
    grid-template-columns: 393px 1fr;
    grid-template-rows: 74px 1fr;
    column-gap: 64px;
    row-gap: 30px;
    grid-template-areas:
    ". hero"
    "info hero";

    @include vp-767 {
      grid-template-columns: 1fr 324px;
      column-gap: 30px;
      min-height: 554px;
    };
    @include vp-319 {
      grid-template-columns: 1fr;
      column-gap: 0;
      min-height: 491px;
    };
  }

  &__info {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 1fr 57px;
    grid-template-areas:
    ". city"
    "training title"
    ". buy";
    padding-top: 68px;
    padding-bottom: 98px;

    grid-area: info;

    text-align: right;

    @include vp-767 {
      grid-template-rows: 90px 152px 57px;
      padding: 0;
    };
    @include vp-319 {
      display: flex;
      flex-direction: column;
    };
  }

  &__city {
    margin: 0;
    margin-right: 40px;
    margin-bottom: 12px;
    margin-left: auto;

    grid-area: city;

    font-weight: 600;
    font-size: 38px;
    line-height: normal;
    font-family: $ff-alumni;
    color: $color-default-white;
    text-transform: uppercase;
    letter-spacing: 1.44px;

    @include vp-767 {
      margin-top: 30px;
      margin-right: 8px;

      font-size: 30px;
    };
    @include vp-319 {
      margin-top: 7px;
      margin-right: 5px;

      font-size: 24px;
    };
  }
  &__title {
    margin: 0;
    margin-bottom: 58px;

    grid-area: title;

    font-weight: 900;
    font-size: 92px;
    line-height: 1;
    font-family: $ff-alumni;
    text-align: right;
    color: $color-default-white;
    text-transform: uppercase;
    letter-spacing: 4.6px;

    @include vp-767 {
      font-size: 72px;
      line-height: 1.1;
      letter-spacing: 3.6px;
    };
    @include vp-319 {
      margin-top: 10px;
      margin-bottom: 17px;

      line-height: 1.2;
    };
  }

  &__list-training {
    margin: 0;
    margin-top: 96px;
    margin-left: 20px;

    grid-area: training;

    @include vp-767 {
      margin-top: 77px;
      margin-left: 0;
    };
    @include vp-319 {
      position: absolute;
      top: 80px;

      display: block;
      margin-top: 50px;
    };

  }

  &__buy {
    width: 237px;
    margin-left: auto;

    grid-area: buy;

    @include vp-767 {
      margin-top: 43px;
    };
    @include vp-319 {
      margin: 0;
      margin-bottom: 80px;
    };
  }

  &__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-area: hero;

    @include vp-319 {
      display: none;
    };
  }


}
