.logo {
  margin: 0;
  width: 122px;

  svg {
    @include vp-1200 {
      width: 82px;
      height: 17px;

      @include vp-768 {
        width: 69px;
        height: 24px;
      }
    }
  }

  &--footer {
    @include vp-1200 {
      margin-top: 8px;
      margin-left: 10px;
    }

    @include vp-768 {
      position: absolute;
      top: 46px;
      left: 14px;
      margin: 0;
    }
  }
}
