.memberships {
  position: relative;

  min-height: 851px;

  background-color: $color-ghost-white;
}

.memberships__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 101px;
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-top: 65px;
  }

  h2 {
    @include title-h2;
  }

  @media (max-width: 320px) {
    padding-bottom: 50px;
  }
}

.memberships__controls {
  ol {
    position: relative;

    margin: 0 auto;
    margin-bottom: 37px;
    padding: 0;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 46px;

    list-style: none;

    &::after {
      position: absolute;
      bottom: 0;

      width: 100%;
      height: 2px;

      background-color: $color-border-grey;

      content: "";
    }

    @include vp-1199 {
      gap: 51px;
      margin-bottom: 44px;
    }

    @include vp-767 {
      gap: 40px;
      margin-bottom: 33px;
    }
  }
}

.memberships__button {
  position: relative;

  padding: 16px 2px;
  font-size: 20px;
  line-height: 30px;
  color: $color-sapphire;

  background-color: $color-transparent;
  border: none;

  cursor: pointer;
  opacity: 0.5;

  @include hover-focus {
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 5;

      width: 100%;
      height: 2px;

      background-color: $color-crimson;
    }
  }

  &:focus-visible {
    outline: none;
    color: $color-sapphire;

    &::after {
      background-color: $color-crimson;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}

[data-month].is-active {
  opacity: 1;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 2px;

    background-color: $color-crimson;
  }
}

.memberships__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberships__picture {
  img {
    content: "";
    position: absolute;
    right: 0;
    bottom: -130px;

    width: 290px;
    height: 495px;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;

    @include vp-1199 {
      bottom: -143px;
    }

    @include vp-767 {
      display: none;
    }
  }
}
