.memberships {
  position: relative;

  min-height: 851px;

  background-color: $color-ghost-white;
}

.memberships__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    margin-bottom: 102px;
    padding-top: 101px;
  }

  @include vp-767 {
    margin-bottom: 70px;
    padding-top: 65px;
  }

  h2 {
    margin-bottom: 25px;

    @include title-h2;
  }
}

.memberships__controls {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 341px;
  margin-bottom: 39px;
  padding: 0 0 10px 0;

  border-bottom: 2px solid $color-border-grey;

  gap: 25px 46px;
}

.memberships__button {
  position: relative;

  padding: 0;

  font-size: 20px;
  line-height: 30px;
  color: $color-sapphire;

  background-color: transparent;
  border: none;
  outline: 0;
  outline-color: $color-sapphire;
  cursor: pointer;
  opacity: 0.5;
}

[data-month].is-active {
  opacity: 1;

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 2px;

    background-color: $color-crimson;

    @include vp-767 {
      bottom: -12px;
    }
  }
}

.memberships__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberships__picture {
  img {
    content: "";
    position: absolute;
    right: 0;
    bottom: -151px;

    width: 290px;
    height: 495px;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;

    @include vp-1199 {
      right: 0;
      bottom: -177px;
    }

    @include vp-767 {
      display: none;
    }
  }
}
