.promotion {
  padding-bottom: 120px;

  h2 {
    margin-top: 135px;
    margin-bottom: 36px;

    line-height: 65px;
    text-align: center;
    letter-spacing: 1.62px;

    @include title-h2;

    @include vp-1199 {
      margin-right: 8px;
      margin-bottom: 31px;

      font-size: 42px;
    }

    @include vp-767 {
      margin-bottom: 42px;

      font-size: 32px;
      line-height: 38px;
    }
  }
}

.promotion__wrapper {
  display: flex;
  justify-content: center;

  gap: 20px 40px;

  @include vp-1199 {
    flex-wrap: wrap;
    margin-top: 86px;

    row-gap: 31px;
  }

  @include vp-767 {
    max-width: 460px;
    margin: 0 auto;
    margin-top: 64px;
  }
}

.promotion__promo {
  align-self: center;
}

.promotion__promo-inner {
  display: flex;
  justify-content: center;
  height: 100%;

  @include vp-767 {
    flex-wrap: wrap;
  }
}

.promotion__promo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 280px;
  min-height: 462px;
  padding: 35px 45px 45px;

  font-weight: 700;
  color: $color-default-white;

  background-color: $color-red;

  @include vp-1199 {
    padding-bottom: 43px;
  }

  @include vp-767 {
    align-items: center;
    max-width: 100%;
    min-height: 299px;
    padding-bottom: 45px;
  }

  span {
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 18px;
    vertical-align: baseline;

    @include vp-767 {
      margin-top: -5px;
      margin-bottom: 25px;

      text-align: center;
    }
  }

  a {
    position: relative;

    margin: auto auto 0 0;

    font-size: 14px;
    color: $color-default-white;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.7px;

    outline: 1px solid $color-transparent;
    outline-offset: 10px;

    transition: opacity $trans-default;

    @include hover {
      opacity: 0.8;

      transition: $trans-default;

      &:active {
        opacity: 1;
      }
    }

    @include focus {
      text-decoration: none;

      outline: 1px solid $color-default-white;
      opacity: 1;
    }

    @include vp-767 {
      margin-right: 0;
    }
    text-underline-offset: 4px;

    &:disabled {
      opacity: 0.3;
    }
  }
}

.promotion__promo-year {
  margin: 0;

  font-size: 28px;
}

.promotion__info {
  flex-grow: 1;
}

.promotion__info-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  gap: 40px 0;

  @include vp-1199 {
    flex-direction: row;

    gap: 30px;
  }
}

.promotion__promo-cost {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 35px;

  font-size: 70px;
  line-height: 1;
}

.promotion__info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 560px;
  min-height: 211px;
  padding: 19px 28px 27px;

  color: $color-resolution-blue;

  border: 7px solid;
  border-image: $color-border-gradient;

  @include vp-1199 {
    max-width: 324px;
    padding: 19px 42px 30px 28px;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 29px 29px 36px 28px;

    text-align: center;
  }

  p {
    margin: 0;

    font-weight: 700;
    font-size: 26px;
  }

  span {
    display: inline-block;
    margin-bottom: 20px;

    vertical-align: baseline;
  }

  a {
    position: relative;

    margin: auto auto 0 0;

    font-size: 12px;
    color: $color-sapphire;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.6px;

    outline: 1px solid $color-transparent;
    outline-offset: 10px;

    transition: opacity $trans-default;

    @include hover {
      opacity: 0.8;

      transition: $trans-default;

      &:active {
        opacity: 1;
      }
    }

    @include focus {
      text-decoration: none;

      opacity: 1;
      outline: 1px solid $color-sapphire;
    }

    @include vp-767 {
      margin-right: 0;
    }
    text-underline-offset: 4px;

    &:disabled {
      opacity: 0.3;
    }
  }
}

.promotion__picture {
  margin: 0;

  background-color: $color-sapphire;

  @include vp-767 {
    width: 100%;
  }

  img {
    height: 100%;

    @include vp-1199 {
      min-width: 399px;
      height: 462px;
    }

    @include vp-767 {
      min-width: 100%;
      height: calc(100vw - 21px);
      max-height: 500px;
    }
    object-fit: cover;
  }
}
