.reviews__wrapper {
  max-width: 767px;
  margin: 0 auto;
  padding: 121px 103px 120px;
  position: relative;

  @include vp-1199 {
    max-width: 657px;
    padding: 94px 45px 100px;
  }

  @include vp-767 {
    max-width: none;
    padding: 33px 32px 70px;
  }

  @media (max-width: 320px) {
    padding-top: 63px;
  }

  h2 {
    @include title-h2;

    margin-left: 8px;
    margin-bottom: 37px;

    line-height: 65px;
    letter-spacing: 0.03em;
    text-align: center;

    @include vp-1199 {
      margin-bottom: 40px;
      margin-left: 0;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin-bottom: 42px;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.reviews__slider {
  background-color: $color-resolution-blue;
}

.reviews__content {
  color: $color-default-white;
  min-height: 242px;
  box-shadow: $box-shadow;
}

.reviews__content-inner {
  display: grid;
  grid-template-columns: 80px auto;
  padding: 55px 62px 58px;
  gap: 0 28px;

  @include vp-1199 {
    padding: 55px 62px 58px 65px;
    gap: 0 28px;
  }

  @include vp-767 {
    grid-template-columns: 68px auto;
    padding: 32px 25px 32px 25px;
    gap: 12px 31px;
  }

  span {
    display: inline-block;
    grid-column: 2;
    line-height: 1.4;

    @include vp-767 {
      grid-column: 1/-1;
      grid-row: 2 span;
      text-align: center;
    }
  }
}

.reviews__content-picture {
  margin: 0;
  grid-column: 1;
  grid-row: 2 span;

  @include vp-767 {
    grid-row: 1 span;
  }

  img {
    border-radius: 50%;
    margin: 8px 0 0;

    background-color: $color-grey;

    @include vp-767 {
      margin: 8px 0 0 16px;
    }
  }
}

.reviews__content-name {
  grid-column: 2;
  grid-row: 1;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;

  @include vp-767 {
    grid-column: 2;
    line-height: 26px;
    padding-top: 16px;
  }
}

.reviews__button {
  position: absolute;
  --swiper-navigation-size: 32px;

  border: none;
  background: transparent;
  top: 54%;

  z-index: 10;

  @include vp-1199 {
    top: 50%;
  }

  @media (max-width: 768px) {
    top: 53%;
  }

  @include vp-767 {
    --swiper-navigation-size: 19px;
    top: 54%;
  }

  &--prev {
    left: 4%;

    @include vp-1199 {
      left: -5px;
    }

    @media (max-width: 768px) {
      left: -30px;
    }

    @include vp-767 {
      left: -6px;
    }
  }

  &--next {
    right: 4%;

    @include vp-1199 {
      right: -5px;
    }

    @media (max-width: 768px) {
      right: -30px;
    }

    @include vp-767 {
      right: -6px;
    }
  }
}
