.reviews {
  position: relative;
  padding-top: 120px;
  padding-bottom: 118px;

  h2 {
    @include title-h2;

    margin-bottom: 36px;

    text-align: center;

    @include vp-1199 {
      margin-bottom: 42px;
    }

    @include vp-767 {
      margin-bottom: 40px;
    }
  }

  @include vp-1199 {
    padding-top: 90px;
    padding-bottom: 98px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 71px;
  }
}

.reviews__slider {
  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }
}

.reviews__slider-item {
  blockquote {
    margin: 0 auto;
    padding: 62px 61px 60px 58px;
    width: 560px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content auto;
    column-gap: 30px;

    color: $color-default-white;

    background-color: $color-resolution-blue;

    @include vp-1199 {
      padding: 62px 62px 60px 65px;
      width: 566px;
    }

    @include vp-767 {
      width: 90%;
      padding: 43px 25px 31px 25px;
      grid-template-columns: 47% auto;
      column-gap: 18px;
    }

    @media (max-width: 600px) {
      width: 87%;
    }

    @media (max-width: 500px) {
      width: 83%;
    }

    @media (max-width: 450px) {
      width: 80%;
    }

    @media (max-width: 320px) {
      width: 226px;
    }
  }

  cite {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 85%;

    @include vp-767 {
      margin-top: 4px;

      line-height: 143%;
    }
  }

  img,
  picture {
    grid-row: 1/-1;

    @include vp-767 {
      grid-row: auto;
      justify-self: end;
    }
  }
}

.reviews__quote-info {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  p {
    margin: 15px 0 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

    @include vp-767 {
      text-align: center;
    }
  }

  @include vp-767 {
    grid-column: 1/-1;
  }
}

.reviews__button {
  z-index: 10;
  top: 59%;

  &--prev {
    left: calc((100% - 560px)/2 - 76px);
    transform: translate(0, -50%);

    @include vp-767 {
      left: 6px;
    }
  }

  &--next {
    right: calc((100% - 560px)/2 - 76px);
    transform: translate(0, -50%);

    @include vp-767 {
      right: 6px;
    }
  }

  svg {
    @include vp-767 {
      height: 19px;
    }
  }

  @include vp-1199 {
    top: 58%;
  }

  @include vp-767 {
    top: 57%;
  }
}
