.socials {
  display: flex;
  justify-content: flex-end;
  min-height: 40px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
    margin: 0;
    padding: 0;

    list-style-type: none;
    line-height: 0;
  }

  &__item {
    width: 25px;
    height: 25px;

    background-color: $color-default-white;
    border-radius: 50%;
  }

  &__link {
    fill: $color-default-black;
  }
}
