.socials {
  display: flex;
  justify-content: flex-end;
  min-height: 40px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    min-width: 100px;
    max-width: 100px;
    line-height: 0;

    @include ul-reset;

    @include vp-768 {
      margin-top: 26px;
      flex-wrap: nowrap;
    }

    @include vp-320 {
      flex-wrap: wrap;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;

    background-color: $color-default-white;
    border-radius: 50%;

    &-icon {
      fill: inherit;
    }

    @include hover-focus {
      background-color: $color-egyptian-blue;

      .socials__link-icon {
        fill: $color-default-white;
      }
    }

    @include active {
      background-color: $color-sapphire;

      .socials__link-icon {
        fill: $color-default-white;
      }
    }

    &:disabled {
      opacity: 0.3;

      background-color: $color-default-white;

      .socials__link-icon {
        fill: $color-default-black;
      }
    }
  }
}
