.tabs {
  display: flex;
  justify-content: space-between;

  gap: 40px;

  @include vp-1199 {
    gap: 10px;
    flex-direction: column;
  }

  @media (max-width: 320px) {
    gap: 7px;
  }
}

.tabs__control {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
  max-width: 260px;
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-size: 18px;
  line-height: 24px;

  gap: 5px;

  @include vp-1199 {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 7px;
    display: grid;
    margin-bottom: 29px;
    max-width: none;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 7px;
    margin-bottom: 29px;
  }

  @media (max-width: 320px) {
    margin-bottom: 21px;
  }
}

.tabs__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 260px;
  padding: 20px 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: $color-sapphire;

  background-color: $color-default-white;
  border: 0;
  outline: 1px solid $color-border-grey;
  cursor: pointer;
  user-select: none;

  @include vp-1199 {
    padding: 18px 0;
    max-width: none;
  }

  @include vp-767 {
    padding: 15px 0;
    font-size: 16px;
  }

  @include hover-focus {
    color: $color-sapphire;

    background: $color-default-white;
    outline: 1px solid $color-sapphire;
    box-shadow: none;

    &:active {
      color: $color-default-white;

      background: $color-button-gradient;
    }
  }

  &:active {
    color: $color-default-white;

    background: $color-button-gradient;
  }

  &:focus-within {
    color: $color-sapphire;

    background: $color-default-white;
    outline: 1px solid $color-sapphire;
  }

  &.is-active {
    color: $color-default-white;

    background: $color-button-gradient;
  }
}

.tabs__list {
  width: 100%;
  min-height: 450px;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.tabs__item {
  display: none;

  transition: display $trans-default;

  &.is-active {
    display: block;
  }
}
