.tabs {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  @include vp-1199 {
    flex-direction: column;
  }
}

.tabs__control {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 260px;
  font-size: 18px;
  line-height: 24px;

  @include vp-1199 {
    flex-direction: row;
    max-width: none;
  }

  @include vp-767 {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
  }
}

.tabs__button {
  border: 0;
  background-color: $color-default-white;
  color: $color-sapphire;
  line-height: 1;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  outline: 1px solid $color-border-grey;
  max-width: 260px;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 107px;


  @include vp-1199 {
    width: 100%;
    min-width: 162px;
    padding: 18px 58px;
  }

  @include vp-767 {
    font-size: 16px;
    max-width: 141px;
    min-width: auto;
    padding: 0;
  }

  @include hover-focus {
    color: $color-sapphire;
    outline: 1px solid $color-sapphire;
    box-shadow: none;
    background: $color-default-white;

    &:active {
      color: $color-default-white;
      background: $color-button-gradient;
    }
  }

  &:active {
    color: $color-default-white;
    background: $color-button-gradient;
  }

  &:focus-within {
    color: $color-sapphire;
    outline: 1px solid $color-sapphire;
    background: $color-default-white;
  }
}

[data-tabs].is-active {
  color: $color-default-white;
  background: $color-button-gradient;
}

.tabs__list {
  min-height: 450px;
  width: 100%;

  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.tabs__item {
  display: none;
}

.tabs__item.is-active {
  display: block;
}
