.video {
  position: absolute;
  top: 403px;
  left: 20%;

  width: 364px;
  height: 228px;

  background-color: $color-button-gradient;
  transform: translate(-50%, -50%);

  @include hover-focus {
    img,
    .video__button {
      opacity: 0.8;

      transition: $trans-default;
    }
  }

  @include vp-1199 {
    top: 100%;
    left: 50%;

    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    position: static;

    width: 100%;
    height: 167px;
    margin-top: 39px;
    padding-bottom: 52.25%;

    transform: translate(0);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: none;
  }
}

.video.is-active {
  cursor: pointer;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 100px;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;

  @include focus {
    outline: 2px solid;
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;
  }
}
