.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }

  &--gym {
    @include vp-767 {
      padding: 0;
    }
  }

  &--advantages {
    @media (max-width: 320px) {
      padding: 0;
    }
  }

  &--info-group {
    @media (min-width: $vp-1200) {
      max-width: 616px;
      margin-left: auto;
      margin-right: 0;
    }

    @include vp-1199 {
      padding: 0;
    }
  }
}
