@mixin gradient-text {
  background-image: linear-gradient(127.61deg, $color-crimson 0%, $color-cobalt 87.33%);
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

// TITLE
@mixin title-h2 ($f-size: 54px, $l-spacing: 1.62px) {
  margin: 0;

  font-weight: 600;
  font-size: $f-size;
  line-height: normal;
  font-family: $ff-alumni;
  color: $color-sapphire;
  letter-spacing: $l-spacing;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
  }


  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

@mixin title-h3($f-size: 22px, $l-spacing: 1.5) {
  margin: 0;

  font-weight: 700;
  font-size: $f-size;
  line-height: normal;
  font-family: $ff-roboto;
  color: $color-sapphire;
  letter-spacing: $l-spacing;

  @include vp-767 {
    font-size: 22px;
    letter-spacing: normal;
  }
}

//СОСТОЯНИЕ
@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      outline: none;
      transform: translateY(-1px);

      transition: all 0.3s ease;
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    outline: none;
    transform: translateY(-1px);

    transition: all 0.3s ease;
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    outline: none;
    transform: translateY(-1px);

    transition: all 0.3s ease;
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      outline: none;
      transform: translateY(-1px);

      transition: all 0.3s ease;
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// VIEWPORTS
// Desktop first

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-319 {
  @media (max-width: ($vp-320 - 1px)) {
    @content;
  }
}

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}
