// RESET
@mixin button-reset {
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

@mixin ul-reset {
  flex-shrink: 0;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

@mixin li-reset-last-el {
  &:last-child {
    margin: 0;
  }
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;

  border: 0;

  appearance: none;
}

// TITLE
@mixin title-h2($f-size: 54px, $l-spacing: 1.62px) {
  margin: 0;

  font-weight: 600;
  font-size: $f-size;
  line-height: normal;
  font-family: $ff-alumni;
  color: $color-sapphire;
  letter-spacing: $l-spacing;
}

@mixin title-h3($f-size: 22px, $l-spacing: 150%) {
  margin: 0;

  font-weight: 700;
  font-size: $f-size;
  line-height: normal;
  font-family: $ff-roboto;
  color: $color-sapphire;
  letter-spacing: $l-spacing;
}

//СОСТОЯНИЕ
@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      outline: none;
      transform: translateY(-1px);

      transition: all 0.3s ease;
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    outline: none;
    transform: translateY(-1px);

    transition: all 0.3s ease;
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    outline: none;
    transform: translateY(-1px);

    transition: all 0.3s ease;
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      outline: none;
      transform: translateY(-1px);

      transition: all 0.3s ease;
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// VIEWPORTS
// Desktop first

@mixin vp-1920 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1440 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1280 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1200 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-1024 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-768 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-375 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

@mixin vp-320 {
  @media (max-width: ($vp-320 - 1px)) {
    @content;
  }
}

/* Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }
*/
// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}
